.quote {
  margin: 0 10px;
  max-width: 650px;

  blockquote {
    margin: 0;
    padding: 0 0 0 100px;
    border-left: 8px solid #F7DF94;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: calc(2vw + 5px);
    line-height: 120%;
    color: #000000;
  }
}

@media screen and (max-width: 600px) {
  .quote {
    margin: 30px 10px 0 10px;
    max-width: 650px;

    blockquote {
      padding: 0 0 0 60px;
      font-size: 18px;
    }
  }
}
