.button {
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 30px;
  width: 100%;
  height: 151px;
  text-align: left;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  .author {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 28px;
    color: #4F4F4F;

    span {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #828282;
    }

    &__tags {
      display: flex;
      gap: 5px;
    }
  }

  &:hover {
    background: #333333;
    transition: 0.2s ease-in-out;

    .author {
      color: #F2F2F2;
    }
  }
}

@media screen and (max-width: 600px) {
  .button {
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0 30px;
    width: 100%;
    height: 151px;
    text-align: left;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    .author {
      display: flex;
      flex-direction: column;
      font-style: normal;
      font-weight: 700;
      font-size: 23px;
      line-height: 28px;
      color: #4F4F4F;

      span {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #828282;
      }

      &__tags {
        display: flex;
        gap: 5px;
      }
    }

    &:hover {
      background: #333333;
      transition: 0.2s ease-in-out;

      .author {
        color: #F2F2F2;
      }
    }
  }
}
